* {
    margin: 0;
    padding: 0;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main #num1 {
    display: flex;
    padding-left: 10px;
}

.main > button {
    margin-right: 20px;
}

.main2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.main2 #res2 {
    display: flex;
    padding-left: 10px;
}

.main2 > button {
    margin-right: 20px;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.btn > button {
    margin-left: 20px;
}

#an1 {
    display: flex;
    margin-top: 20px;
    margin-left: 200px;
}

#an2 {
    display: flex;
    margin-top: 20px;
    margin-left: 200px;
}

#result {
    padding-left: 20px;
}

#action {
    padding-left: 20px;
}

#history {
    display: flex;
    margin-top: 100px;
    margin-left: 200px;
}

#historyres {
    margin-top: 10px;
    margin-left: 200px;
}

#historyresLocal {
    margin-top: 10px;
    margin-left: 200px;
}