* {
    margin: 0;
    padding: 0;
}

.app {
    display: flex;
    justify-content: center;
    align-items: center;
}

.app > input {
    display: flex;
    margin-left: 50px;
}

.app .inp1 {
    display: flex;
    margin-top: 50px;
}

.app .inp2 {
    display: flex;
    margin-top: 50px;
}

.inp {
    display: flex;
    justify-content: center;
    align-items: center;
}

.inp > #input0 {
    display: flex;
    padding-top: 20px;
    margin-left: 50px;
}

.inp > #inputt0 {
    display: flex;
    padding-top: 20px;
    margin-left: 50px;
}